<app-page [loading]="!randomEpisode()" [showBack]="true" [title]="randomEpisode()?.name" [extra]="extra">

  <div class="flex-1 overflow-auto">

    <pre>{{ randomEpisode()?.external_urls?.spotify | json }}</pre>

    <div class="bg-gray-50">
      <pre class="whitespace-pre-wrap break-words">{{ randomEpisode()?.description }}</pre>
    </div>

  </div>
</app-page>


<ng-template #extra>
  <a mat-icon-button [href]="randomEpisode()?.external_urls?.spotify" target="_blank">
    <mat-icon fontIcon="open_in_new" class="text-white"></mat-icon>
  </a>
</ng-template>
