<app-page [extra]="extra" [footer]="footer" [loading]="isLoading()" [showBack]="true" [title]="show()?.name">

  <mat-nav-list>

    @for (episode of episodes(); track episode.id) {
      <mat-list-item [routerLink]="[episode.id]">
        <img matListItemIcon [ngSrc]="episode.images![2].url!" width="250" height="250" alt="">
        <a matListItemTitle>{{ episode.name }}</a>
      </mat-list-item>
    }

  </mat-nav-list>

</app-page>

<ng-template #footer>
  <app-paginator
    (pageChange)="loadPage($event)"
    [page]="page()"
    [size]="show()?.total_episodes!">
  </app-paginator>
</ng-template>

<ng-template #extra>
  <a mat-icon-button routerLink="random">
    <mat-icon fontIcon="shuffle"></mat-icon>
  </a>
</ng-template>
