<div class="h-dvh flex flex-col">

  <app-navbar [extra]="extra()" [showBack]="showBack()" [title]="title()"></app-navbar>

  @if (!loading()) {

    <div class="flex-1 overflow-auto">
      <mat-sidenav-container class="h-full">
        <!--<mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>-->
        <mat-sidenav-content>
          <ng-content></ng-content>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>

  } @else {

    <div class="h-full flex justify-center items-center">
      <mat-spinner></mat-spinner>
    </div>

  }

  @if (footer()) {
    <ng-container *ngTemplateOutlet="footer()!"></ng-container>
  }

</div>
