<app-page [loading]="!showsPage()">

  <div class="flex-1">
    <mat-nav-list>
      @for (showEntry of showsPage()?.items; track showEntry.show.id) {
        <mat-list-item [routerLink]="showEntry.show.id">
          <img matListItemIcon [ngSrc]="showEntry.show.images[0].url" alt="" width="250" height="250">
          <a matListItemTitle>{{ showEntry.show.name }}</a>
        </mat-list-item>
      }
    </mat-nav-list>
  </div>

  <app-paginator
    (pageChange)="loadPage($event)"
    [size]="showsPage()?.total!"
    [page]="page()"
  ></app-paginator>
</app-page>
