<ul class="divide-y-2">
  @for (episode of episodes(); track episode.id) {
    <li>
      <a class="flex items-center gap-2 hover:bg-gray-50 py-2 px-2 text-gray-700" [href]="episode.external_urls?.spotify" target="_blank">
        @if (episode.images && episode.images[2]; as image) {
          <img [ngSrc]="image.url!" alt="" height="50" width="50">
        }

        <span class="flex-1 text-ellipsis overflow-hidden text-nowrap">{{ episode.name }}</span>
        <span>{{ episode.release_date | date }}</span>
      </a>
    </li>
  }
</ul>
