<app-page [loading]="!user()">

  @if (user(); as user) {
    <mat-card>

      <div class="p-4 space-y-4">
        <!-- User Name -->
        <div class="flex items-center space-x-2">
          <mat-icon fontIcon="person"></mat-icon>
          <span class="text-sm">{{ user.display_name }}</span>
        </div>

        <!-- Email -->
        <div class="flex items-center space-x-2">
          <mat-icon fontIcon="mail"></mat-icon>
          <span class="text-sm break-all">{{ user.email }}</span>
        </div>

        <!-- Country -->
        <div class="flex items-center space-x-2">
          <mat-icon fontIcon="flag"></mat-icon>
          <span class="text-sm">{{ user.country }}</span>
        </div>

        <!-- JSON Preview -->
        <div class="mt-4 md:mt-6 p-3 md:p-4 rounded-lg">
        <pre
          class="text-xs md:text-sm overflow-x-auto whitespace-pre-wrap break-words">{{ user | json }}</pre>
        </div>
      </div>
    </mat-card>
  }
</app-page>
