<mat-toolbar>

  @if (showBack()) {
    <button mat-icon-button routerLink="..">
      <mat-icon fontIcon="arrow_back" class="text-white"></mat-icon>
    </button>
  } @else {
    <button mat-icon-button routerLink="/">
      <mat-icon fontIcon="home" class="text-white"></mat-icon>
    </button>
  }

  <span class="flex-1 block text-nowrap text-ellipsis overflow-hidden text-white">
    {{ title() }}
  </span>

  @if (extra()) {
    <ng-container *ngTemplateOutlet="extra()!"></ng-container>
  }

  <button mat-icon-button routerLink="/user">
    <mat-icon class="text-white" fontIcon="person"></mat-icon>
  </button>

</mat-toolbar>
