<mat-card class="m-4 max-w-4xl mx-auto">
  <mat-card-header>
    <mat-card-title>{{ episode().name }}</mat-card-title>

    <mat-card-subtitle>
      <div class="my-4 flex gap-4">

        @if (episode().release_date) {
          <div class="flex gap-2">
            <mat-icon fontIcon="calendar_month"></mat-icon>
            <span>{{ episode().release_date | date:'mediumDate' }}</span>
          </div>
        }

        @if (episode().duration_ms) {
          <div class="flex gap-2">
            <mat-icon fontIcon="schedule"></mat-icon>
            <span>{{ episode().duration_ms | date:'mm:ss' }}</span>
          </div>
        }

      </div>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    @if (episode().html_description) {
      <div class="leading-relaxed" [innerHTML]="episode().html_description"></div>
    }
  </mat-card-content>

</mat-card>
