/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @include mat.theme((
    color: mat.$cyan-palette
  ));

  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-primary),
    container-text-color: var(--mat-sys-on-primary),
  ));

  mat-toolbar {
    @include mat.icon-overrides((
      color: var(--mat-sys-on-primary),
    ));
  }

  @include mat.sidenav-overrides((
    content-background-color: var(--mat-sys-surface-variant),
  ));

  @include mat.list-overrides((
    list-item-label-text-color: var(--mat-sys-on-surface-variant),
  ));

  @include mat.card-overrides((
    elevated-container-color: var(--mat-sys-surface),
  ));

  @media (prefers-color-scheme: dark) {
    @include mat.theme((
      color: mat.$violet-palette
    ));
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
